/* Not working on Firefox
tr:has(input[type="checkbox"]:checked) {
  opacity: 0.4;
} */

html,
body {
  height: 100% !important;
}

table thead tr th:after {
  right: 2px;
}

table thead tr th.sort-asc:after {
  content: "\25b4";
}

table thead tr th.sort-desc:after {
  content: "\25be";
}

.fish-icon {
  height: 44px;
}

.bug-icon {
  height: 44px;
}

.fish-image,
.bug-image {
  text-align: center;
  border-bottom: none;
  border-top: 1px solid rgb(55, 59, 62);
}

#filters {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#filters > * {
  margin: 5px 10px 0 10px;
}

.icon {
  color: white;
  margin: 5px;
}

.logo {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.logo-big {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.color-2dp {
  background-color: #373b3e;
}
.color-1dp {
  background-color: rgb(44, 48, 52);
}

.navbar-brand {
  margin-right: 0px;
}

.sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
}

.sidebar-sticky {
  position: fixed;
  top: 48px;
}

.aside {
  flex: 0 0 200px;
}

.footer-sticky {
  position: sticky;
  bottom: 0px;
  right: 0px;
}

.nav-link {
  color: rgb(222, 226, 230);
}

.cat-icon {
  width: 20px;
  height: 20px;
  color: #45b2da;
  margin-right: 5px;
}

.no-border {
  border: unset;
}

th {
  cursor: pointer;
}

.rarity {
  border-radius: 3px;
  padding: 1px 5px;
}

.rare {
  background-color: #067e8b !important;
}

.epic {
  background-color: #3f2f8b !important;
}

.common {
  background-color: #364052 !important;
}

.uncommon {
  background-color: #477c3a !important;
}

main {
}
